<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="/public/styles/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    </style>
</head>
<body>
    <div class="nav" id="nav-bar">
        <input type="image" class="nav-icons" id="nav-sandwich" src="/public/styles/resources/icons/list.svg"/>
        <a>Dashboard</a>
        <a href="timer.html">Timer</a>
        <a href="calendar.html">Calendar</a>
        <a>Notes</a>
        <a>To-dos</a>
        <input type="image" class="nav-icons" id="settings-btn" src="/public/styles/resources/icons/gear-fill.svg" />
    </div>
    <div class="container" id="content-box">
        <div class="container" id="mini-cal">

        </div>
        <div class="container" id="calendar-filter">

        </div>
        <div class="container" id="schedule">

        </div>
        <div class="container" id="edit-event">

        </div>
    </div>
</body>
</html>