<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>StudyHub</title>
</head>
<body>
    <ul class="">
        <li style="float: left; padding:0%;"><a href="./index.html">StudyHub</a></li>
        
        <li><a href="./404.html">Settings</a></li>
        <li><a href="./timer.html">Timer</a></li>
        <li><a href="./about.html">Notes</a></li>
    </ul>
    
    <%-body%>
</body>
</html>