<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/styles/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    </style>
</head>
<body>
    <div id="login">
        <h1>Welcome</h1>
        <img />
        <form method="get" id="login-form" name="userLogin">
            <input type="email" placeholder="email" name="email"/>
            <input type="text" placeholder="password" name="password"/>
            <input type="submit"/>
        </form>
        <a href="createAccount.html">Create Account</a>
    </div>
    <script src="/public/scripts/login.js"></script>
</body>
</html>